.inputBody{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.inputTitle{
    width: 100%;
    margin: 5px 0;
    color: #575353;
}
.formInputComponent{
    padding: 0 10px;
    width: 100%;
    height: 25px;
    @media only screen and (max-width: 1000px) {
        height: 25px;

      }
    border:none;
    outline: 1px solid #b1acac;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #ebe6e6;
    &:focus
{
        // border: 1px solid blue;
       outline: 2px solid #b7dff8;

    }
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}